<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	
	<div class="container-fluid">
		<h3 th:text="${titulo}" class="text-center mt-5 mb-5">title</h3>
		
		<div class="card">
			<div class="card-body">
				<ul class="list-group">
					<li class="list-group-item" th:text=" 'Libro: ' + ${prestamo.libro.titulo}"></li>
					<li class="list-group-item" th:text=" 'Editorial: ' +  ${prestamo.libro.editorial}"></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>