<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	
	<div class="container-fluid">
		<h3 th:text="${titulo}" class="text-center mt-5 mb-5">title</h3>
		
		<div class="d-flex justify-content-end mb-2">
			<a class="btn btn-warning" th:href="@{'/usuarios/ver/' + ${prestamo.id}}">&laquo;
				Volver</a>
		</div>
		
		<div class="card">
			<div class="card-body">
				<ul class="list-group">
					<li class="list-group-item" th:text=" 'Libro: ' + ${prestamo.libro.titulo}"></li>
					<li class="list-group-item" th:text=" 'Editorial: ' +  ${prestamo.libro.editorial}"></li>
				</ul>
			</div>
		</div>
	</div>
	
	<footer th:replace="layout/layout :: footer"></footer>
	
</body>
</html>